<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <bean id="masterServ" class="com.cheery.service.MasterService">
        <property name="masterDao" ref="matserDao"></property>
    </bean>

    <bean id="mobileServ" class="com.cheery.service.MobileService">
        <property name="mobileDao" ref="mobileDao"></property>
    </bean>
</beans>

